.slide.slider-style-3 .slider-wrapper .background-image-area {
	padding: 34px;
	box-shadow: var(--shadow-1);
	position: relative;
	right: 0;
	border-radius: 10px;
	transition: var(--transition);
	height: 65%;
}
.slide.slider-style-3 .slider-wrapper .background-image-area .thumbnail-image img {
	width: 100%;
	height: 100%;
	border-radius: 8px;
	object-fit: contain;
}